.me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: white;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.6);
    height: 3in;
    width: 57%;
    margin: 50px;
}
.me-content:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: aliceblue;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.6);
    height: 3in;
    width: 57%;
    margin: 50px;
    transform: scale(1.1);
}
.me-content >p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: medium;
    font-weight: 1000;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.me-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: aliceblue;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.6);
    height: 3in;
    width: 3in;
}
.me-pic:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: aliceblue;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.6);
    height: 3in;
    width: 3in;
    transform: scale(1.1);
}
.me-pic > img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: aliceblue;
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.6);
    width: 100%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */
    object-fit: cover;/* Preserve the aspect ratio and cover the container */
}