#linkedin{
  height: 0.4in;
  width: 0.4in;
  justify-content: center;
  margin: 5px;
}

#hireButton{
  background-color: rgb(70, 51, 51);
  border-color: orangered;
  color: white;
  height: 1cm;
  width: 23%;
  border-radius: 1in;
}
#reButton{
  background-color: orangered;
  border-color: orangered;
  color: white;
  height: 1cm;
  width: 23%;
  border-radius: 1in;
  margin-left: 15px;
}
#hireButton:hover{
  background-color: whitesmoke;
  border-color:rgb(97, 71, 59);
  color: rgb(97, 71, 59);
  transform: scale(1.2);
  border-radius: 1in;
}
#reButton:hover{
  background-color: whitesmoke;
  border-color:rgb(97, 71, 59);
  color: rgb(97, 71, 59);
  transform: scale(1.2);
  border-radius: 1in;
}
.me-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5in;
  width: 100%;
  background-image:url('./resume-bg.jpg');
}
.re-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 16in;
  width: 100%;
  background-image:url('./resume-bg.jpg');
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 139);
  height: 0.5in;
  width: 100%;

}